-
  const pagination = ['Start', '01', '02', '03'];

mixin pagination
  .pagination&attributes(attributes)
    .pagination__pages.js-pagination-pages
      ul
        each item, index in pagination
          - let pageIndex = `0${index + 1}`;
          - let activeClass = index === 0 ? 'active' : '';
          li
            button.pagination__button.js-scroll-btn.js-pagination(class=activeClass, type="button", data-page=item, data-index=index) !{item}
    .pagination__track.js-track
      .pagination__thumb.js-thumb
